@inherits LayoutComponentBase

<header>
    <h1>Record Shop</h1>
    <h2>Tagline goes here</h2>
    <NavMenu />
</header>

<main>
    @Body
</main>

<footer>
    <span>Finn Moffett</span>
    <span>2025</span>
</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
